body {
	background-color: red;
	background-image: url("youtube.jpg");
	background-repeat: repeat;
}

h1 {
	color: red;
	font-size: 50px;
	text-align: center;
	font-family: "Times New Roman", Georgia, Serif;
}

p{
	font-family: "Times New Roman", Georgia, Serif;
}

.main {
	background-color: white;
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px;
	width: 600px;

}

a.more {
	display: none;
	text-align: center;
	
}

.about {
	text-align: center;
	font-size: 20px;
}

#search-term {
	text-align: center;
	background-color: white;
	margin: 0 auto;
}

#search-results {
	margin: 0 auto;
	border-color: black;
	font-size: 20px;
}

ul {
	padding-left: 0px;
}

#search-results li {
	text-align: center;
	list-style: none;
	padding-top: 2px;
	background-color: grey;
	border-radius: 3px;
	margin: 0 auto;
}

#search-results li img{
	display: block;
	width: 100%;
}

#search-results li p{
	text-align: center;
	color: black;
}

